.footer {
    position: relative;
    padding-top: 25rem;
    background: linear-gradient(180deg, rgba(214, 193, 85, 0) 0%, rgba(103, 90, 23, 0.43) 100%);

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(../assets/img/wave.svg);
        background-size: cover;
        z-index: 0;
        background-position: bottom;
    }

    &__top {
        position: relative;
        padding: 1rem 0;

        &-wrapper {
            display: flex;
            align-items: center;
        }

        img {
            margin-right: auto;
        }

        &-nav {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            
            ul {
                display: flex;
                align-items: center;
                margin: 0 auto;
            }
    
            li {
                min-height: 4rem;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    padding: 1.5rem;
                    font-size: 1.8rem;
                    line-height: 2.2rem;
    
                    color: $black;
                }
            }
        }
    }

    &__bottom {
        position: relative;
        background: linear-gradient(180deg, rgba(214, 193, 85, 0) 0%, rgba(103, 90, 23, 0.43) 100%);
        border-top: 1px solid rgba(165, 142, 24, 0.3);

        &-wrapper {
            display: flex;
            align-items: flex-start;
            padding: 2rem 0;
        }
        &-nav {
            max-width: 90rem;
            margin-right: auto;

            ul {
                display: flex;
                flex-wrap: wrap;
            }

            li {
                min-height: 4rem;
                max-width: 30rem;
                flex-grow: 1;
                a {
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    height: 100%;
                    padding: 0.5rem;
                    font-family: $f1_med;
                    font-size: 1.4rem;
                    line-height: 1.6rem;

                    color: $black;
                }
            }
        }

        &-dev {
            font-size: 1.4rem;
            line-height: 1.7rem;

            color: $black;

            span {
                color: $purple-1;
            }
        }
    }
    
}