extends layouts/main-layout.pug

block variables
  -
    const title = "NK-store-layout-index"
    const desc = ""
    const keywords = ""

block content
    include ./blocks/index-page/intro
    include ./blocks/index-page/cats
    include ./blocks/index-page/popular
    include ./blocks/index-page/about
    include ./blocks/index-page/history
    include ./blocks/index-page/register
    include ./blocks/index-page/reviews

block modals
  // include ./modals/menuModal
