extends layouts/main-layout.pug

block variables
  -
    const title = "NK-store-layout-index"
    const desc = ""
    const keywords = ""

block content
    include ./blocks/index-page/intro

block modals
  // include ./modals/menuModal
