.review-card {
    display: flex;
    flex-direction: column;
    width: 35rem;
    padding: 2.4rem;
    background: rgba(255, 233, 118, 0.82);

    box-shadow: 10px 10px 10px 0px rgba(143, 31, 232, 0.15);
    border-radius: 30px;

    &__text {
        span {
            display: block;
            font-family: $f2_reg;
            font-size: 1.6rem;
            line-height: 2.2rem;
            margin-bottom: 1rem;

            color: $black;
        }
    }

    &__more {
        display: block;
        margin-left: auto;
        color: $purple-1;
        margin-bottom: 1.5rem;
    }

    &__footer {
        display: flex;
        align-items: center;

        img {
            margin-right: 1rem;
            width: 7rem;
            height: 7rem
        }

        p {
            font-family: $f2_bold;
            font-size: 2rem;
            line-height: 2.2rem;

            color: $black;
        }
    }
}