-
  const slides = [
      {
          title: 'Новая коллекция',
          url: 'catalog.html',
          link: 'Смотреть',
          img: './assets/img/intro1.png'
      },

      {
          title: 'Распродажа до <span>-40%</span>',
          url: 'catalog.html',
          link: 'Смотреть',
          img: './assets/img/intro2.png'
      },

      {
          title: '<span>Суперцены</span> на игрушки',
          url: 'catalog.html',
          link: 'Смотреть',
          img: './assets/img/intro3.png'
      },
  ]

section.intro
    .swiper.intro-swiper
      .swiper-wrapper
        each slide in slides
          .swiper-slide
            .swiper-slide-container(style='background-image: url(' + slide.img + ')')
              .cmn__wrapper.intro-swiper__wrapper
                .intro-swiper__container
                  h2!=slide.title 
                  a(href=slide.url).cmn__button= slide.link 
    
      .swiper-pagination

