section.register(style="background-image: url('./assets/img/reg-img.png')")
  .cmn__wrapper.register__wrapper
    h2.cmn__block-title Получите скидку 10% на первый заказ

    a(href="#").cmn__button Регистрация 