.cmn {
    &__wrapper {
        @include container();
    }

    &__block-title {
        font-family: $f1_med;
        font-size: 3.6rem;
        line-height: 4.4rem;

        text-align: center;
        text-transform: uppercase;
        margin-bottom: 4rem;
        color: $black;
    }

    &__button {
        font-family: $f4_reg; 
        font-size: 3.6rem;
        line-height: 4.5rem;
        text-transform: capitalize;

        width: fit-content;
        padding: 0.5rem 3rem;
        
        border-radius: 5rem;
        box-shadow: 5px 5px 10px rgba(143, 31, 232, 0.2);
        color: $purple-1;
        background: rgba(255, 225, 79, 0.84);

        &--purple {
            background: rgba(143, 31, 232, 0.86);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            color: rgba(255, 255, 255, 0.86);
        }
    }

    &__badge {
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: #f1_bold;
        font-size: 1.8rem;
        line-height: 2.2rem;
        text-transform: capitalize;

        border-radius: 50%;
        box-shadow: 5px 5px 10px rgba(143, 31, 232, 0.2);
        
        color: $white;

        &--new {
            background-color: $green-4;
        }

        &--sale {
            background-color: $red-2;
        }
    }

    &__price {
        font-family: $f4_reg;
        font-size: 2.4rem;
        line-height: 3rem;
        text-transform: capitalize;

        color: $purple-1;
    }
}
