//fonts

$f1_reg: 'Montserrat-Regular';
$f1_med: 'Montserrat-Medium';
$f1_semi: 'Montserrat-SemiBold';

$f2_thin: 'Roboto-Thin';
$f2_reg: 'Roboto-Regular';
$f2_med: 'Roboto-Medium';
$f2_bold: 'Roboto-Bold';

$f3_reg: 'HeinrichScript';
$f4_reg: 'Lobster-Regular';

// animation

// widths

$xxl_w: 1920px;
$xl_w: 1440px;
$lg_w: 1140px;
$md_w: 768px;
$sm_w: 540px;
$xs_w: 320px;

// colors

$col_main-bg: rgba(255, 233, 118, 0.43);

$white: #ffffff;
$purple-1: #6C2F9B; 
$red-2: #E81F43;

$green-4: #2CD93D;

$blue-3: rgba(23, 123, 239, 0.86);
$gold: #a58e18;
$black: #000000;
$gray-6: rgba(102, 102, 102, 0.84);

// transitions

$main-transition: 0.4s 0.2s ease;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
