.item-card
  .item-card__header
      img(src="./assets/img/cat3.png" alt="Товар" width="365" height="450")
      .cmn__badge.cmn__badge--new.item-card__badge 
        span New
      .cmn__badge.cmn__badge--sale.item-card__badge
        span Sale
      a(href="#").cmn__favourite-btn.item-card__favourite-btn
        svg(width="35" height="35")
          use(xlink:href="#icon-heart")
      a(href="#").item-card__zoom
        svg(width="35" height="35")
          use(xlink:href="#icon-search")

  .item-card__footer
    h3.item-card__footer-title Комбинезон жёлтый утеплённый осенний утепленный

    .item-card__footer-section
        .item-card__footer-desc
            a(href="#").item-card__footer-link Характеристики товара
            a(href="#").item-card__footer-link Перейти в карточку товара
        span.cmn__price.item-card__footer-price 3999 руб.
    .item-card__footer-section
        a(href="#").cmn__button.item-card__footer-button В корзину 
        a(href="#").cmn__button.cmn__button--purple.item-card__footer-button Купить в 1 клик

