.crawl-line {
    height: 3.5rem;
    background-color: $purple-1;

    p {
        font-family: $f1_semi;
        font-size: 2.4rem;
        line-height: 2.9rem;
        text-align: center;
        color: $white;
    }
}