footer.footer
    .footer__top
      .cmn__wrapper
        .footer__top-wrapper
          img(src="" alt="Логотип")

          .footer__top-nav
            ul
              li
                a(href="#") О нас
              li
                a(href="#") Контакты
              li
                a(href="#") Доставка и оплата

          .footer__social
            include ../../components/social-list
        
    .footer__bottom
      .cmn__wrapper
        .footer__bottom-wrapper
          .footer__bottom-nav
            ul
              li
                a(href="#") Сертификаты на продукцию 
              li
                a(href="#") Условия оплаты и возврата
              li    
                a(href="#") Политика об обработке и защите персональных данных
              li
                a(href="#") Реквизиты компании
              li 
                a(href="#") Публичная оферта

          .footer__bottom-dev
            p Сайт разработан <a href="mailto: yuriybevov@gmail.com">yuriybevov@gmail.com </a>

      