footer.footer
  .cmn__wrapper
    .footer__top
      img(src="" alt="Логотип")

      .footer__top-nav
        ul
          li
            a(href="#") О нас
          li
            a(href="#") Контакты
          li
            a(href="#") Доставка и оплата

      .footer__social
        include ../../components/social-list
        
    .footer__bottom
      .footer__bottom-nav
        ul
          li
            a(href="#") Сертификаты на продукцию 
          li
            a(href="#") Условия оплаты и возврата
          li
            a(href="#") Реквизиты компании
          li 
            a(href="#") Публичная оферта
          li    
            a(href="#") Политика об обработке и защите персональных данных
      
      .footer__bottom-dev
        p Сайт разработан <span>yuriybevov@gmail.com </span>

      