.intro {
    position: relative;
    @include block_mb();

    &-swiper {
        .swiper {
            width: 100%;
            height: 100%;
          
            &-container {
                overflow: hidden;
            }
          
            &-wrapper {
                display: flex;
            }

            &-pagination {
                position: absolute;
                width: 80px;
                height: 20px;
                top: 50%;
                left: calc(100% - 100px) !important;
                transform: rotate(90deg) !important;

                &-bullet {
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: $purple-1;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
        
        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            &-container {
                display: flex;
                width: 100%;
                height: calc(100vh - 6.1rem);
                max-height: 108rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
        }

        &__container {
            padding-left: 10rem;
            h2 {
                font-size: 4.8rem;
                line-height: 5.9rem;
                margin-bottom: 2.8rem;
                text-transform: uppercase;

                color: $black;

                span {
                    color: $red-2;
                }
            }
        }
    }
}

